/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Jul, 2018, 11:41:23 AM
    Author     : Neem
*/
.center-align{
    text-align: center;
}
.projects-page .panel-body {
    padding: 5px 15px;
}
.search-project .form-group {
    margin: 9px 0px 0px 0px;
}
.search-project button.btn {
    height: 33.5px;
    border-radius: 0px 4px 4px 0px;
}
.search-project input{
    width:200px;
    float: left;
    border-radius: 4px 0px 0px 4px;   
}
.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}
.bg-red,.label-success{
    background-color: red !important;
}
h4.text-danger a {
    color: #a94442;
}
.validation-error{
    margin-top: 8px;
    color: #a94442;
}


