/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Jul, 2018, 11:41:23 AM
    Author     : Neem
*/
.center-align{
    text-align: center;
}
.project-element{
 border-bottom:1px solid;
}


